/*-----------------------------------BASE STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: TTLakes;
    font-size: 14px;
}

/*.conteiner {
    max-width: 1120px;
    height: auto;
    padding-right: 15px;
}*/ 

@font-face {
    font-family: 'TTLakes-Regular';
    src: url('font/TT Lakes Regular.woff2') format('woff2'),
         url('font/TT Lakes Regular.woff') format('woff'),
         url('font/TT Lakes Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Bold';
    src: url('font/TT Lakes Bold.woff2') format('woff2'),
         url('font/TT Lakes Bold.woff') format('woff'),
         url('font/TT Lakes Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url('font/TTLakes-Medium.woff2') format('woff2'),
         url('font/TTLakes-Medium.woff') format('woff'),
         url('font/TTLakes-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}



/*-------------------------------------шрифты*/
h1 {
    font-family: 'TTLakes-Bold', sans-serif;
}

p {
    font-family: 'TTLakes-Regular', sans-serif;
}

button {
    font-family: 'TTLakes-Regular';
}


.a {
    font-family: 'TTLakes-Regular'
}

.a:visited,
.a:hover,
.a:active {
    color: #1B1C21 ;
    text-decoration: none;
    font-family: 'TTLakes-Regular';
}

.read-more__link {
    font-family: 'TTLakes-Medium';
    text-decoration: none;
}
.read-more__link:visited,
.read-more__link:hover,
.read-more__link:active  {
    color: #1B1C21 ;
    text-decoration: none;
    font-family: 'TTLakes-Medium';

}


.button {
    list-style-type: none;}

    .header {
        width: 100%; /* Занимает всю доступную ширину */
        height: 88px; /* Высота определяется содержимым */
        display: flex;
        padding-right: 16px;
        border-bottom: 1px solid #080808; /* Разделительная линия */
        
    }

    /*---------------------------------------Шапка*/
    
    .menu {
        display: flex;
        list-style: none;
        margin-left: -5px;
    }
    
    .menu__item-left {
        display: flex;
        flex-direction: row;
        gap:16.73px;
    }
    
    .menu__user-action {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    
    .menu__item-right {
        display: flex;
        flex-direction: row;
        list-style: none; }

    .img {
        display: flex;
    }

    /*------------------------------------------сервисное меню*/

    .service-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1px;
        white-space: nowrap;
        
    }

    .service-button {
        background-color: white;
        border: 2px solid transparent; /* Прозрачный бордер */
        padding: 5px 20px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 8px; /* Закругляем углы */
        transition: border-color 0.3s ease;
        overflow-x: auto
    }

    .service-button:focus {
        border-color: #B8FFEC;
    }

    .main {
        background-color: #F8F8F8;
    }



    .titel__text-item {
        display: flex;
        font-size: 14px;
        
    }

    .about-as__content {
        display: flex;
    }

    .title__repair_hidden {
        display: none;
    }

    .title__checkstatus_hidden {
        display: none;
    }


    .title_text {
        margin: 3% 3% 3% 3%;
    }


/*---------------------------------------------------низ*/
    .section_content {
        font-family: 'TTLakes Regular';
        flex: 0 0 100%;
        padding: 4.7% 0 4.7% 0;
        

    }
    .section_conteiner {
        display: flex;
        max-width: 91.83%;  /*720px;*/
        padding: 0 20px; 
        margin: 0 auto;
        
    }
    
    .conteiner__image-item {
        max-width: 100%;
        padding-left: 2%;
    }

    .section__text-p2 {
        padding-top: 5px;
        overflow: hidden;
    }

    /*

    .revie {
        margin-left: 32px ;
        color: #7E7E82 ;
        text-decoration: none;
        font-family: 'TTLakes-Medium';
    }

    .revie:visited,
    .revie:hover,
    .revie:active {
        color: #7E7E82 ;
        text-decoration: none;
        font-family: 'TTLakes-Medium';
    }*/

/*---------------------------------------------------низ*/

    .reset__list {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0 0;
        gap: 0;
        order: unset;
        list-style-type: none;
    }


    @media (min-width: 220px) and (max-width: 320px) {





        /*------------------------------------- хэдер*/
        .header {
            width: 100%;
            height: 88px;
            padding: 0 0px 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .item-left {
            order: unset;
        }
    
    
        .menu__item-burger {
            display: flex;
            margin-right: 8px;
        }
    
    
        .menu__item-right {
            display: flex;
            gap: 16px;
            margin-right: 8px;
        }
    
    
    
    
        .menu__right {
            display: flex;
            width: auto;
            margin-left: auto;
            justify-content: space-between;
        }
    
        .right_item:first-child {
            display: none;
        }
    
        .titel__text-item{
            display: flex;

            margin-right: auto;
        }
    
    
      /*------------------------------------- скрытые элементы*/
    
        .section__text_hidden {
            display: none;
        }
     
    
        .user-action_hidden{
            display: none;
        }
    
    
        .right_item_hidden {
            display: none;
        }
    
        .content__p2_hidden-mob  {
            display: none;
        }
    
        .revie_hide {
            display: none;
        }
    
    
    
        .service-menu {
            overflow-x: auto;
        }
    
        .titel__text-item{
            gap:5%;
            padding: 7.5% 0 7.5% 5%;
            padding-left: 0;
        }
    
    
    
        .section {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    

    
        .section__body {
            width: 100%;
            
        }
    
    
    }

@media (min-width: 320px) and (max-width: 783px) {


    /*------------------------------------- хэдер*/
    .header {
        width: 100%;
        height: 88px;
        padding: 0 0px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-left {
        order: unset;
    }


    .menu__item-burger {
        display: flex;
        margin-right: 8px;
    }


    .menu__item-right {
        display: flex;
        gap: 16px;
        margin-right: 8px;
    }




    .menu__right {
        display: flex;
        width: auto;
        margin-left: auto;
        justify-content: space-between;
    }

    .right_item:first-child {
        display: none;
    }

    .titel__text-item{
        gap:5%;
        padding: 7.5% 0 7.5% 5%;
        padding-left: 0;
    }


  /*------------------------------------- скрытые элементы*/

    .section__text_hidden {
        display: none;
    }
 

    .user-action_hidden{
        display: none;
    }


    .right_item_hidden {
        display: none;
    }

    .content__p2_hidden-mob  {
        display: none;
    }

    .revie_hide {
        display: none;
    }



    .service-menu {
        overflow-x: auto;
    }




    .section {
        display: flex;
        flex-direction: column;
    }



    .section__body {
        width: 100%;
        
    }


}


@media (min-width: 784px) and (max-width: 1120px)  {

    .revie_hide {
        display: none;
    }



    /*-----------------------------Меню 784*/
    .header {
        width: 100%;
        height: 88px;
        padding: 0 0px 0 16px;
        display: flex;
        align-items: center;
    }

    .menu__item-left {
        display: flex;
        margin-left: 16px;
    }

    .left__logo {
        order: 2;
    }

    .left__divider {
        order: 1;
    }

    .menu__user-action {
        display: flex;
        width: auto;
        margin-right: 16px;
        margin-left: auto;
        gap: 16px;
        
    }

    .menu__item-right {
        display: flex;
        margin-right: 16px;
        gap:16px;
    }

    .right_item {
        display: flex;
    
    }
    
    .titel__text-item {
        
        padding-left: 0;
    }

    .section__image  {
        margin-top: 32px;
    }

    .nav-service {
        overflow-x: auto;
    }


    .section {
        display: flex;
    }

    .section__image {
        flex: 0 0 50%;
        transform: translate(-100%, 0);
        
    }

    .section__body {
        width: 50%;
        
        
    }





}

@media (min-width: 784px) and (min-width: 1121px) {
    .header_hidden{
        display: none;
    }
/*
    .titel__text-item_hidden {
        display: none;
    }*/

    .titel__text-item {
        margin-right: auto;
        width: 50%;
        align-items: center;
    }

    .title_img {
        height: 40px;
        
    }

    .title_text {
        display: flex;
        text-align: center;
    }

    .title {
        display: flex;
        width: 100%;
        height: 88px;
        justify-content: flex-end;
        text-align: left;
        gap: 32px;
        padding-right: 32px;
    }

    .repair__img {
        width: 40px;
    }
    
    .title__repair {
        display: flex; 
        height: 100%;
    }


    .title__repair-item {
        display: flex;
        flex-direction: row; 
        align-items: center;
        text-decoration: none;
        gap: 8px;
    }



    .title__checkstatus {
        display: flex;
}
    .checkstatus__img  {
        width: 40px;
    }

    .title_check {
        display: flex;
    }

    .item__chekstatus {
        display: flex;
        flex-direction: row; 
        align-items: center;
        text-decoration: none;
        gap: 8px;

    }


    .section {
        display: flex;
    }

    .section__image {
        flex: 0 0 50%;
        transform: translate(-100%, 0);
        margin-top: 60px;
        
    }

    .section__body {
        width: 50%;
        
    }

    .reviews__link {
        margin-left: 32px ;
        color: #7E7E82 ;
        text-decoration: none;
        font-family: 'TTLakes-Medium';
    }

    .reviews__link:visited,
    .reviews__link:hover,
    .reviews__link:active {
        color: #7E7E82 ;
        text-decoration: none;
        font-family: 'TTLakes-Medium';
    }


}