/*-----------------------------------BASE STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: TTLakes;
    font-size: 14px;
}

/*.conteiner {
    max-width: 1120px;
    height: auto;
    padding-right: 15px;
}*/

@font-face {
    font-family: 'TTLakes'; 
    src: url('font/TTLakes-Medium.ttf') format('ttf'),
         url('font/TTLakes-Medium.woff') format('woff'),
         url('font/TTLakes-Medium.woff2') format('woff2');
  }


.button {
    list-style-type: none;}

    .header {
        width: 100%; /* Занимает всю доступную ширину */
        height: 88px; /* Высота определяется содержимым */
        display: flex;
        padding-right: 16px;
        border-bottom: 1px solid #080808; /* Разделительная линия */
        
    }
    
    .menu {
        display: flex;
        list-style: none;
        margin-left: -5px;
    }
    
    .menu__item-left {
        display: flex;
        flex-direction: row;
        gap:16.73px;
    }
    
    .menu__user-action {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    
    .menu__item-right {
        display: flex;
        flex-direction: row;
        list-style: none; }

    .img {
        display: flex;
    }

    .service-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1px;
        white-space: nowrap;
        
    }

    .service-button {
        background-color: white;
        border: 2px solid transparent; /* Прозрачный бордер */
        padding: 5px 20px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 8px; /* Закругляем углы */
        transition: border-color 0.3s ease;
        overflow-x: auto
    }

    .service-button:focus {
        border-color: #B8FFEC;
    }

    .main {
        background-color: #F8F8F8;
    }

    .titel__text-item {
        display: flex;
        gap:5%;
        /*padding: 7.5% 0 7.5% 5%;*/
        font-size: 14px;
        
    }

    .about-as__content {
        display: flex;
    }

    .title__repair_hidden {
        display: none;
    }

    .title__checkstatus_hidden {
        display: none;
    }



    .reset__list {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0 0;
        gap: 0;
        order: unset;
        list-style-type: none;
    }

@media (min-width: 320px) and (max-width: 783px) {


    /*------------------------------------- хэдер*/
    .header {
        width: 100%;
        height: 88px;
        padding: 0 0px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-left {
        order: unset;
    }


    .menu__item-burger {
        display: flex;
        margin-right: 8px;
    }


    .menu__item-right {
        display: flex;
        gap: 16px;
        margin-right: 8px;
    }




    .menu__right {
        display: flex;
        width: auto;
        margin-left: auto;
        justify-content: space-between;
    }

    .right_item:first-child {
        display: none;
    }

    .titel__text-item{
        gap:5%;
        padding: 7.5% 0 7.5% 5%;
        padding-left: 0;
    }


  /*------------------------------------- скрытые элементы*/
    .user-action_hidden{
        display: none;
    }


    .right_item_hidden {
        display: none;
    }

    .about-as__p2_hidden-mob {
        display: none;
    }

    .revie_hide {
        display: none;
    }



    .service-menu {
        overflow-x: auto;
    }

    .titel__text-item {
        padding: 7.5% 0 7.5% 5%;
    }




    .content__text {
        display: flex;
        flex: 1 0 50%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        overflow: hidden;
    }

    .content__photo {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 0 1 360px;
        align-items: flex-end;
        
    }






}


@media (min-width: 784px) and (max-width: 1120px)  {

    .revie_hide {
        display: none;
    }



    /*-----------------------------Меню 784*/
    .header {
        width: 100%;
        height: 88px;
        padding: 0 0px 0 16px;
        display: flex;
        align-items: center;
    }

    .menu__item-left {
        display: flex;
        margin-left: 16px;
    }

    .left__logo {
        order: 2;
    }

    .left__divider {
        order: 1;
    }

    .menu__user-action {
        display: flex;
        width: auto;
        margin-right: 16px;
        margin-left: auto;
        gap: 16px;
    }

    .menu__item-right {
        display: flex;
        margin-right: 16px;
        gap:16px;
    }

    .right_item {
        display: flex;
    
    }
    
    .titel__text-item {
        
        padding-left: 0;
    }

    .about-as__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        
    }

    .about-as__body {
        width: 100vw;
    }

    .content__text {
        display: flex;
        flex: 1 0 50%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        overflow: hidden;
    }

    .content__photo {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 1 0 44%;
        display: flex;
        flex: 0 1 360px;
        align-items: flex-end;
        object-fit: contain;
        
    }






}

@media (min-width: 784px) and (min-width: 1121px) {
    .header_hidden{
        display: none;
    }

    .titel__text-item_hidden {
        display: none;
    }

    .title {
        display: flex;
        width: 100%;
        height: 88px;
        justify-content: flex-end;
        text-align: left;
        gap: 32px;
        padding-right: 32px;
    }

    .repair__img {
        width: 40px;
    }
    
    .title__repair {
        display: flex; 
    }


    .title__repair-item {
        display: flex;
        flex-direction: row; /* Элементы в строку */
        align-items: center;
        text-decoration: none;
        gap: 8px;
    }



    .title__checkstatus {
        display: flex;
}
    .checkstatus__img  {
        width: 40px;
    }

    .title_check {
        display: flex;
    }

    .item__chekstatus {
        display: flex;
        flex-direction: row; /* Элементы в строку */
        align-items: center;
        text-decoration: none;
        gap: 8px;

    }







}